#countdown-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  background-image: linear-gradient(to right, #a6127d, #7c68a5, #356be5);
  background-clip: text;
  -webkit-background-clip: text;
  color: rgba(255, 255, 255, 0.387);
  width: 420px;
}

.time-unit {
  font-family: "Montserrat";
  font-weight: 900;
  color: rgba(255, 255, 255, 0.387);
  font-size: 25px;
  align-items: center;
}

@media (max-width: 380px) {
  #countdown-container {
    display: none;
  }
}